* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.persistent-header {
  background-color: rgb(90, 158, 216);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 3%;
}
li {
  display: inline-block;
}

a,
h1,
h2,
h3,
p {
  text-decoration: none;
}

main {
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
}

/* nav {
    box-shadow: 0 0 12px -2px black;
    position: fixed;
    left: 0;
    right: 0;
    align-items: center;
    background-color: #333333;
    color: aliceblue;
    display: flex;
;
    height: 80px;
    padding: 10px;
    display: flex
;
    justify-content: space-between;
} */
